
<article class="post_blog">

<h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, quaerat?
</h2>
<article class="classpost_aticle">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad totam maxime saepe eveniet repellat repellendus, beatae laborum accusamus officia aperiam magni earum autem sunt explicabo possimus dolore eligendi ratione, unde inventore temporibus deleniti recusandae. Laudantium nulla laboriosam distinctio doloribus, ut cumque excepturi accusantium magni quidem. Alias omnis esse cumque quod.
</article>

</article>